/* STYLE SECTIONING TAGS */
body {
 background-color: #d9e5ed; 
  text-align:center;
}

/* STYLE TEXT */
h1,h3,p{
  font-family: monospace;
  color:black;
}
p{
  font-size:15px;
}
h3{
  font-size:20px;
}
/* STYLE IMAGES */
img{
  max-width:50%;
  border-radius:50%;
  border: 5px solid lightgray;
}

/* STYLE NAV BAR */